{% import "macros.j2" as _etcd with context %}
{% if etcd_ca_setup %}
# Certificates
FLANNELD_ETCD_CAFILE={{_etcd.ca_file()}}
FLANNELD_ETCD_CERTFILE={{_etcd.cert_file()}}
FLANNELD_ETCD_KEYFILE={{_etcd.key_file()}}
{% endif %}
# Etcd
FLANNELD_ETCD_ENDPOINTS={{_etcd.peers()}}
